# 最初にすべての階層のファイルを無視します
# 階層は必要なだけ追加する
### all ignore ###
/*
/.**

### not ignore ###
!/.zshrc
!/.bash_profile
!/.tmux.conf
!/nvim/*
!/git/*
!/tmux/*
!/script/*
!/zsh/*

!/README.md
!/LICENSE
!.gitignore
!.gitkeep
